@media only screen and (min-width: 1200px) and (max-width: 1366px) {
    .steps-line::before{ width: 950px; right: 17px; }
}

//ipad pro
@media only screen and (min-width: 993px) and (max-width: 1199px) {
    .steps-line::before{ width: 850px; right: 17px; }
    p{line-height: 22px !important;}
}

//Toggle button css for both mobile and ipad
@media (max-width: 991px) {.mobile-nav-toggle { display: block; }.navbar ul { display: none; }
.navbar-mobile { position: fixed; overflow: hidden; top: 0; right: 0; left: 0; bottom: 0; background: rgb(78 64 57 / 45%); transition: 0.3s; }
.navbar-mobile .mobile-nav-toggle { position: absolute; top: 15px; right: 15px; }
.navbar.navbar-mobile ul { display: block !important; position: absolute; top: 55px; right: 15px; left: 15px; padding: 12px 12px; background-color: #fff; overflow-y: auto; transition: 0.3s;border-radius: 15px; }
.navbar ul {display: none !important;}
.navbar-mobile a { padding: 12px 20px; font-size: 15px; color: #7a6960; }
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a { color: #fff; }
@-webkit-keyframes up-down {0% { transform: translateY(10px); }100% { transform: translateY(-10px); }}
@keyframes up-down {0% { transform: translateY(10px); } 100% { transform: translateY(-10px); }}
}
//Ipad
@media only screen and (min-width:768px) and (max-width:992px){
.steps-line::before{ width: 650px; right: 17px; }
p{line-height: 22px !important;}
}
//mobile
@media (max-width: 767px)
{
    .border-none{border: none !important;}
    p{line-height: 20px !important;}
    .steps-line::before { top: 25px; left: 42px; height: 250px; width: 0px !important; }
    .border-bottom-sm-1{border-bottom: 1px solid #9155cd !important;}
}