@media only screen and (min-width: 1200px) and (max-width: 1400px) {}

//ipad pro
@media only screen and (min-width: 991px) and (max-width: 1199px) {
    .footer {
  padding: 195px 0 16px;
}
}


//Ipad
@media only screen and (min-width:768px) and (max-width:990px) {
    .footer {
  padding: 275px 0 16px;
}
}

//mobile
@media (max-width: 767px) {

  h1 {
    font-size: 30px;
    line-height: 40px;
  }

  h2 {
    font-size: 20px;
  }

  h3 {
    font-size: 18px;
  }

  h4 {
    font-size: 16px;
  }

  .link {
    li a {
      font-size: 16px;
      color: #000;
    }

    .nav-link,
    a {
      color: #000;

      &:hover {
        color: #000;
      }

    }

  }

  .footer {
  padding: 275px 0 16px;
}

}